$base-color: #22272E;
$card-color: #2D333D;
$font-color: #C5D1DE;

$font: "Noto Sans", sans-serif;

body{
    box-sizing: border-box;
    padding: 1vw;
    background-color: $base-color;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $card-color;
    border-radius: 20px;
    padding: 50px;
}
.value{
    font-family: $font;
    font-size: 30vh;
    margin: auto;
    color: $font-color;
}
.title {
    font-family: $font;
    color: $font-color;
}

/* boutons */

.btn_up{
    width:100px;
    height:100px;
    margin: 3px;
    background-color: $base-color;
    color:$font-color;
    border: none;
    border-radius: 10px;
    font-family: $font;
    font-size: 2rem;
    cursor:pointer;
    @media screen and (max-width: 600px) {
        width: 80px;
        height: 80px;
    }
    
}

.btn_dwn{
    width:100px;
    height:100px;
    margin: 3px;
    background-color: $base-color;
    color:$font-color;
    border: none;
    border-radius: 10px;
    font-family: $font;
    font-size: 2rem;
    cursor:pointer;
    @media screen and (max-width: 600px) {
        width: 80px;
        height: 80px;
    }
    
}
.btn_rst{
    width:100px;
    height:100px;
    margin: 3px;
    background-color: $base-color;
    color: $font-color;
    border: none;
    border-radius: 10px;
    font-family: $font;
    font-size: 1.2rem;
    cursor:pointer;
    @media screen and (max-width: 600px) {
        width: 80px;
        height: 80px;
    }
}

.buttons{
    display: flex;
    align-items: center;
}

.signature{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: $font;
    color:$font-color;
    text-align: center;
}
